{% include '../base.html' %}
{% load cache %}
{% load static %}
<head>
    <title>All countries</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
</head>
<body>

<div class="container">

    {% include '../nav_bar.html' %}
    {% if continent_description %}
        <h2 class="h2">Continent: {{ continent }}</h2>
        <p class="p">{{ continent_description }}</p>
    {% endif %}

    <h1 class="h1">List of countries{% if continent %} in {{ continent }}
    {% endif %}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>Capital City</th>
            {% if show_continent %}
                <th>Continent</th>
            {% endif %}
            <th>Flag</th>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr class="height_73">
                <td>{{ country.counter }}</td>
                <td>
                    <a href="/country_details/{{ country.name }}">{{ country.name }}</a>
                </td>
                <td>{{ country.capital }}</td>
                {% if show_continent %}
                    <td>
                        <a href="/list_of_countries/{{ country.continent }}">{{ country.continent }}</a>
                    </td>
                {% endif %}
                <td class="small-img-td">
                    <img src="{{ country.flag_picture }}"
                         alt="{{ country.name }} Flag" class="flag-img">

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if is_paginated %}
      <nav aria-label="Page navigation container">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                  <li><a href="?page=1" class="page-link" title="First Page">«« FIRST</a></li>
                  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
              {% endif %}
              
              <!-- Display current page number -->
              <li class="page-item active"><span class="page-link">{{ page_obj.number }} <span class="sr-only">(current)</span></span></li>
    
              {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                  <li><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" title="Last Page">LAST »»</a></li>
              {% endif %}
          </ul>
      </nav>
    {% endif %}


    {% include 'footer.html' %}
</div>
</body>
<!-- Bootstrap JS CDN (Optional: Only if you need Bootstrap JavaScript features) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
