{% include '../base.html' %}
{% load cache %}
<head>
    <title>All countries</title>
</head>
<body>

<div class="container">

    {% include '../nav_bar.html' %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>Capital City</th>
            <th>Continent</th>
            <th>Flag</th>
        </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ country.name }}</td>
                    <td>{{ country.capital }}</td>
                    <td>{{ country.continent }}</td>
                    <td>
                        {# Cache for 5 minutes (300 seconds) #}
                        <img src="{{ country.flag_picture }}"
                             alt="{{ country.name }} Flag" class="flag-img">

                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

<!-- Bootstrap JS CDN (Optional: Only if you need Bootstrap JavaScript features) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
