{% include '../base.html' %}
{% load cache %}
{% load static %}
<head>
    <title>All countries</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
</head>
<body>

<div class="container">

    {% include '../nav_bar.html' %}
    {% if continent_description %}
        <h2 class="h2">Continent: {{ continent }}</h2>
        <p class="p">{{ continent_description }}</p>
    {% endif %}

    <h1 class="h1">List of countries{% if continent %} in {{ continent }}
    {% endif %}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>Capital City</th>
            {% if show_continent %}
                <th>Continent</th>
            {% endif %}
            <th>Flag</th>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr class="height_73">
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="/coutry_details/{{ country.name }}">{{ country.name }}</a>
                </td>
                <td>{{ country.capital }}</td>
                {% if show_continent %}
                    <td>
                        <a href="/list_of_countries/{{ country.continent }}">{{ country.continent }}</a>
                    </td>
                {% endif %}
                <td class="small-img-td">
                    <img src="{{ country.flag_picture }}"
                         alt="{{ country.name }} Flag" class="flag-img">

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS CDN (Optional: Only if you need Bootstrap JavaScript features) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
