.img_holder {
    width: 200px;
    height: 70px;
}

.small-img-td {
    width: 73px;
    height: 73px;
}

.height_73 {
    height: 73px;
}

.flag-img {
    width: 73px;
}

td, th {
    text-align: center;
    vertical-align: middle !important;
}

.margin_15px {
    margin: 15px
}