<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Games to play</title>
</head>
<body>
<div class="container">

    {% include 'nav_bar.html' %}

    <h1 class="h1">Thank you for your interest</h1>
    <p class="p">Author:<a href="https://github.com/DmitriyChebruchan"> 
        Dmytro Chebruchan</a></p>
</div>

</body>
</html>