<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Games to play</title>
</head>
<body>
<div class="container">

    {% include 'nav_bar.html' %}

    <h1 class="h1">Flag site</h1>
    <p class="p">This site was made to learn and test your knowledge of
        flags of different countries.</p>

    <h2 class="h2">Play the game with following continent to check your
        knowledge of flags.</h2>
    <div class="list-group">
        {% for continent in continents %}
            <a href="/game/{{ continent }}" class="list-group-item
        list-group-item-action">{{ continent }}</a>
        {% endfor %}
    </div>

    <h2 class="h2">Learn flags of different countries on each continent</h2>
    <div class="list-group">
        {% for continent in continents %}
             <a href="/list_of_countries/{{ continent }}" class="list-group-item
        list-group-item-action">{{ continent }}</a>
        {% endfor %}
    </div>
</div>

</body>
</html>