<!doctype html>
<html lang="en">{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/style.css" %}'/>
    <title>Games to play</title>
</head>
<body>
<div class="container">

    {% include 'nav_bar.html' %}
    <main class="margin_15px">
        <h1 class="h1">Flag site</h1>
        <p class="p">This site was made to learn and test your knowledge of
            flags of different countries.</p>

        <h2 class="h2">Play the game with following continent to check your
            knowledge of flags.</h2>
        <p class="p">Hey there! How about we play a fun game where you get to
            guess the country by looking at its flag? I'll show you five 
            different flags, and you'll have to guess which country each 
            one represents. It's a great way to test your knowledge of 
            flags and geography! Are you up for the challenge? 
            Let's see how many you can guess correctly! Get ready for some 
            flag-tastic fun!</p>
        <p class="p">To choose continent and play the game push <a
                href="games_menu">here.</a></p>

        <h2 class="h2">Learn flags of different countries on each continent</h2>
        <p class="p">Hey there! If you're looking to expand your knowledge about
            countries, I've got just the thing for you. How about diving into 
            some fascinating details about different countries' flags, capitals,
            and even some interesting descriptions about those flags? It's a great
            way to not only learn about different nations but also make it 
            easier to remember them. Imagine effortlessly recalling the flag, 
            capital, and a unique fact about each country you come across. 
            Ready to embark on this enlightening journey?</p>
        <p class="p">To learn countries with their flag and capitals based on
            continent <a href="countries_menu">here.</a></p>

    </main>
    {% include 'footer.html' %}
</div>
</body>
</html>