<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Flag Quiz</title>
    <!-- Bootstrap CSS CDN link -->
   </head>
<body>

    <div class="container">

        {% include 'nav_bar.html' %}

        <h1>Identify the Country</h1>
        {{ context }}
        <img src="{{ question.question }}" alt="Flag" style="max-width: 200px" class="img-fluid mt-3 mb-3">

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>
                    <input type="text" name="flag_picture"
                           value="{{ question.question }}" hidden="hidden">
                </label>
                <div class="btn-group" role="group"
                      aria-label="Basic radio toggle button group">

                {% for option in form.options %}
                    <input type="radio" class="btn-check"
                           name="option_chosen"
                           id="btnradio{{ forloop.counter }}"
                           value="{{ option.0 }}" autocomplete="off">
                    <label class="btn btn-outline-primary"
                           for="btnradio{{ forloop.counter }}">{{ option.0 }}</label>
                {% endfor %}

                </div>
<!--                {{ form.as_p }}-->
            </div>
            <button type="submit" name="check" class="btn btn-primary">Submit
            </button>
            {% if correct_answer %}
            <button type="submit" name="next" class="btn btn-primary">Next
                flag</button>
            {% endif %}
        </form>
        {% if correct_answer %}
            <div>Correct answer was {{ correct_answer }}</div>
        {% endif %}
    </div>
</body>
</html>
